<!-- ======= Top Bar ======= -->
<div id="topbar" class="d-none d-lg-flex align-items-center fixed-top">
    <div class="container d-flex">
        <div class="contact-info mr-auto">
            <i class="fa-solid fa-envelope icon"></i> <a href="mailto:info@ncircletech.com">info@ncircletech.com</a>
            <i class="fa-solid fa-phone icon"></i> (+91) 020 6694 1900
        </div>
        <div class="social-links">
            <a href="https://twitter.com/nCircleTech" class="twitter"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.facebook.com/nCircleTech/" class="facebook"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/ncircletech/" class="instagram"><i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://www.youtube.com/channel/UCDuONzotTQgwM4Jf2bkuoMg" class="youtube"><i
                    class="fa-brands fa-youtube"></i></a>
            <a href="https://www.linkedin.com/company/ncircle-tech/" class="linkedin"><i
                    class="fa-brands fa-linkedin"></i></a>
        </div>
    </div>
</div>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

        <!--h1 class="logo mr-auto"><a href="index.html">BizLand<span>.</span></a></h1-->
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="index.html" class="logo mr-auto"><img src="assets/img/template3/logo.png" alt=""></a>

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <!--li class="active"><a href="index.html">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#resources">Resources</a></li>
		  <li><a href="#clients">Clients</a></li-->
                <!--li class="drop-down"><a href="">Drop Down</a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="drop-down"><a href="#">Deep Drop Down</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li>
          <li><a href="#contact">Contact</a></li-->
                <li><a href="#about" class='btn btn-info'
                        style="color:#FFF;background: #106eea;padding: 10px; margin-top: -10px;">Download Ebook
                        Now</a></li>

            </ul>
        </nav><!-- .nav-menu -->

    </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex1 align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
        <h1>5 Best Machine Learning Software Solutions in AEC Industry
        </h1>
        <!--h2>First and Most Experienced Autodesk FORGE Partner<br />
Decade Long Legacy in Construction | 5+ Years of Experience with Forge | 20+ Forge Projects built</h2-->
        <div class="d-flex1 pt-5 text-center">
            <a href="#about" class="btn-get-started scrollto" data-toggle="modal" data-target="#contact-modal">Download
                Ebook Now</a>
            <!--a href="https://www.youtube.com/watch?v=YRHGO9GVcCc&t=7s" class="venobox btn-watch-video" data-vbtype="video" data-autoplay="true"> Watch Video <i class="icofont-play-alt-2"></i></a-->
        </div>
    </div>

    <div id="contact-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Download Ebook Now</h3>
                    <a class="close" data-dismiss="modal">x</a>
                </div>
                <form id="contactForm" name="contact" role="form">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" name="name" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Company Email</label>
                            <input type="email" name="email" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="name">Phone</label>
                            <input type="text" name="phone" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="name">Company Name</label>
                            <input type="text" name="companyname" class="form-control" required>
                        </div>
                    </div>
                    <div id="contact" class='p-3' style="color:Green"></div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-success" id="submit">
                    </div>


                </form>
            </div>
        </div>
    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= Featured Services Section ======= -->
    <!--section id="featured-services" class="featured-services">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <a href=""><div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4 class="title">Lorem Ipsum</h4>
              <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
            </div></a>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
              <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4 class="title"><a href="">Magni Dolores</a></h4>
              <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4 class="title"><a href="">Nemo Enim</a></h4>
              <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
            </div>
          </div>

        </div>

      </div>
    </section--><!-- End Featured Services Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title" id='abt'>
                <h2 style="text-transform: none;">E-book: 5 Best Machine Learning Software Solutions in AEC Industry
                </h2>
                <!--h3><span>Custom 3D Web Applications on Autodesk Forge</span></h3>
          <p> First and Most Experienced Autodesk FORGE Partner<br />

Decade Long Legacy  in Construction | 5+ Years of Experience with Forge | 20+ Forge Projects built</p>

				   
					<p><a href="#about" class="btn-get-started scrollto">Download CASE Study</a></p-->


            </div>

            <div class="row">
                <div class="col-lg-6 contact" id="contact" data-aos="zoom-out" data-aos-delay="100">
                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">

                        <div class="form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                                data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                            <div class="validate"></div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                                data-rule="email" data-msg="Please enter a valid email" />
                            <div class="validate"></div>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Phone"
                                data-rule="minlen:4" data-msg="Please enter at least 6 chars of Phone" />
                            <div class="validate"></div>
                        </div>
                        <!--div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div-->

                        <div class="form-group">
                            <input type="text" class="form-control" name="company" id="company" placeholder="Company"
                                data-rule="minlen:2" data-msg="Please enter at least 2 chars of Company" />
                            <div class="validate"></div>
                        </div>

                        <div class="mb-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center"><button type="submit">Download Ebook Now</button></div>
                    </form>

                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up"
                    data-aos-delay="100">
                    <!--h3>Certified Autodesk Forge integration partner serving global customers for 5+ years</h3-->
                    <!--p class="font-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p-->
                    <ul>
                        <li>
                            <!--i class="bx bx-store-alt"></i-->
                            <div>
                                <!--h5>Ullamco laboris nisi ut aliquip consequat</h5-->
                                <!--p>We enable AEC and Manufacturing companies to leverage our expertise to build Forge-based 3D applications. </p>
				  <p>We help you to conceptualize, design, develop and deploy your 3D apps providing robust, scalable, secure customisations within the shortest possible time. </p>
				  <p>Now create anything from process automation, connected workflows, connate teams or visualize your data better and so much more using Forge APIs.</p-->
                                <p>When it comes to Machine Learning and its adoption in the construction industry,
                                    the resistance is higher than the will to adopt. However, many of us are quickly
                                    adopting them in our construction processes.</p>
                                <p>Have you worked on any ML tools so far? Are you ready to explore the world of ML?
                                </p>
                                <p>If you are ready to jump into the bandwagon of ML in Construction technology,
                                    here's 5 practical Machine Learning Solutions that can help your scale your
                                    business </p>
                                <p>
                                    1. ML-Powered Scan to BIM<br>
                                    2. ML-Based OCR <br>
                                    3. ML-Powered Quantity Take-Off<br>
                                    4. ML-Powered Safety Detection<br>
                                    5. ML-Powered BIM Voice Assistant<br>
                                </p>

                            </div>
                        </li>
                        <!--li>
                <i class="bx bx-images"></i>
                <div>
                  <h5>Magnam soluta odio exercitationem reprehenderi</h5>
                  <p>Quo totam dolorum at pariatur aut distinctio dolorum laudantium illo direna pasata redi</p>
                </div>
              </li-->
                    </ul>
                    <!--p class="text-left">
              <img src="assets/img/autodeskforge.png" class="img-fluid" alt="">
            </p-->
                </div>
            </div>

        </div>
    </section><!-- End About Section -->

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients section-bg">

        <div class="container" data-aos="zoom-in">

            <div class="section-title">
                <h2>clients</h2>
                <h3><span>Partnering with the Best</span></h3>
                <h4><span>To Deliver Exceptional Quality and Value</span></h4>

                <p>We integrate with the leaders in AEC, giving our customers the best combination of customisation
                    and developments</p>
            </div>

            <div class="row">

                <div class="col-lg-3 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="assets/img/template3/clientlogo/Kahua-Logo@2x-1024x424.png" class="img-fluid" alt="">
                </div>

                <div class="col-lg-3 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="assets/img/template3/clientlogo/1519914311539.png" class="img-fluid" alt="">
                </div>

                <div class="col-lg-3 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="assets/img/template3/clientlogo/1519915276915.png" class="img-fluid" alt="">
                </div>

                <div class="col-lg-3 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="assets/img/template3/clientlogo/1542583055501.png" class="img-fluid" alt="">
                </div>

                <div class="col-lg-3 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="assets/img/template3/clientlogo/1553464014947.png" class="img-fluid" alt="">
                </div>

                <div class="col-lg-3 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="assets/img/template3/clientlogo/blue-R.png" class="img-fluid" alt="">
                </div>


                <div class="col-lg-3 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="assets/img/clientlogo/logo-bamcore.png" class="img-fluid" alt="">
                </div>

            </div>

        </div>
    </section><!-- End Clients Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
        <div class="container" data-aos="zoom-in">

            <div class="owl-carousel testimonials-carousel">

                <div class="testimonial-item">
                    <!--img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt=""-->
                    <h3>Magdalena Ordyniec</h3>
                    <h4>Founder & CEO, GET-TECH Innovative Solutions</h4>
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Get-Tech's collaboration with nCircle has been very successful and valuable since we started
                        working together around one year ago. We highly appreciate the fact that the team has such a
                        great knowledge and understanding of the AEC field and current technological possibilities.
                        Their input in Flair3D - our Digital Twin Viewer is helping us to develop solutions that do
                        not exist on the market yet. There is a spirit of pushing the boundaries and finding
                        different ways of achieving our goal. We like their habit of sharing a summary of our
                        meetings as well as ongoing progress on a daily basis. It makes it easy to keep track of our
                        questions, suggestions, and next steps. Very happy to recommend nCircle as a very
                        professional, committed and trustworthy service provider.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                </div>

                <div class="testimonial-item">
                    <!--img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt=""-->
                    <h3>Jim Quanci</h3>
                    <h4>Senior Director ADN, Autodesk</h4>
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        nCircleTech is a long time skilled and committed Autodesk System Integration Partner. As an
                        EARLY ADOPTER of FORGE, nCircleTech is now a leader delivering Autodesk customers
                        development services using FORGE. Naming ProtoTech an Autodesk Forge Systems Integrator was
                        an easy decision. They are a GREAT PARTNER delighting Autodesk customers with <span
                            class='yltxt'>ground breaking WEB and MOBILE experiences</span> delivering users
                        insights into their design and engineering data - powered by FORGE.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                </div>


            </div>

        </div>
    </section><!-- End Testimonials Section -->




    <!-- ======= Contact Section ======= -->
    <section id="contact2" class="contact2" style="padding-bottom:opx !important;">
        <div class="container" data-aos="fade-up">

            <!--div class="section-title">
          <h2>Contact</h2>
          <h3><span>Receive Updates. Stay Informed. Get Involved.</span></h3>
          <p>Get All Headlines about Our Innovative Forge Based Enhancements Straight to Your Inbox!</p>
        </div-->

            <!--div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-6">
            <div class="info-box mb-4">
              <i class="bx bx-map"></i>
              <h3>Our Address</h3>
              <p>nCircle Tech Pvt. Ltd. Office No.3 , 4th floor, Bldg No. IT-7,
Qubix SEZ, Blue Ridge, Plot No.2, Hinjewadi Phase - 1, Pune- 411057, Maharashtra, INDIA.</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-envelope"></i>
              <h3>Email Us</h3>
              <p>anirban.sarkar@ncircletech.com</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-phone-call"></i>
              <h3>Call Us</h3>
              <p>(+91) 904 9999 0922</p>
            </div>
          </div>

        </div-->

            <div class="row" data-aos="fade-up" data-aos-delay="100">

                <div class="col-lg-6 ">
                    <!--iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe-->
                    <h3>nCircle Tech Pvt. Ltd<span>.</span></h3>
                    <p>
                        nCircle Tech Pvt. Ltd. Office No.3 , 4th floor, Bldg No. IT-7,
                        Qubix SEZ, Blue Ridge, Plot No.2, Hinjewadi Phase - 1, Pune- 411057, Maharashtra, INDIA.
                        <br><br>
                        <strong>Phone:</strong> (+91) 020 6694 1900<br>
                        <strong>Email:</strong> <a href="mailto:info@ncircletech.com">info@ncircletech.com</a><br>
                    </p>


                </div>

                <div class="col-lg-6">
                    <h4>Our Social Networks</h4>
                    <!--p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p-->
                    <div class="social-links mt-3" style="font-size:25px;">
                        <a href="https://twitter.com/nCircleTech" class="twitter socicon"><i
                                class="fa-brands fa-twitter"></i></a>
                        <a href="https://www.facebook.com/nCircleTech/" class="facebook socicon"><i
                                class="fa-brands fa-facebook-f"></i></a>
                        <a href="https://www.instagram.com/ncircletech/" class="instagram socicon"><i
                                class="fa-brands fa-instagram"></i></a>
                        <a href="https://www.youtube.com/channel/UCDuONzotTQgwM4Jf2bkuoMg"
                            class="google-plus socicon"><i class="fa-brands fa-youtube"></i></a>
                        <a href="https://www.linkedin.com/company/ncircle-tech/" class="linkedin socicon"><i
                                class="fa-brands fa-linkedin"></i></a>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="contact">


    <!--div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h4>Join Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div-->

    <!--div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-6 col-md-6 footer-contact">
            <h3>nCircle Tech Pvt. Ltd<span>.</span></h3>
            <p>
              nCircle Tech Pvt. Ltd. Office No.3 , 4th floor, Bldg No. IT-7,
Qubix SEZ, Blue Ridge, Plot No.2, Hinjewadi Phase - 1, Pune- 411057, Maharashtra, INDIA. <br><br>
              <strong>Phone:</strong> (+91) 904 9999 0922<br>
              <strong>Email:</strong><a href="mailto:anirban.sarkar@ncircletech.com">anirban.sarkar@ncircletech.com</a><br>
            </p>
			<h4>Our Social Networks</h4>
            
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div-->

    <!--div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div-->

    <!--div class="col-lg-6 col-md-6 footer-links">
				<form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="col form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>
      </div>
    </div-->

    <div class="container py-4">
        <div class="copyright">
            &copy; Copyright <strong><span>nCircle Tech Pvt. Ltd.</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bizland-bootstrap-business-template/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
</footer><!-- End Footer -->

<!-- <div id="preloader"></div> -->
<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

<!-- Vendor JS Files -->
<script src="assets/vendor/jquery/jquery.min.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>
<script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
<script src="assets/vendor/counterup/counterup.min.js"></script>
<script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="assets/vendor/venobox/venobox.min.js"></script>
<script src="assets/vendor/aos/aos.js"></script>

<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>
<script src="assets/js/contact.js"></script>
<script>
    function openCity(evt, cityName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the link that opened the tab
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    function openCity2(evt, cityName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent2");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks2");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the link that opened the tab
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }




</script>