/* ARROW CSS */

.down-arrow {
  position: fixed;
  top: 67%;
  right: 3.5rem;
}

.arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.chevron {
  position: absolute;
  width: 2.1rem;
  height: 0.48rem;
  opacity: 0;
  transform: scale(0.3);
  -webkit-animation: move-chevron 3s ease-out infinite;
  animation: move-chevron 3s ease-out infinite;
}

.chevron:first-child {
  -webkit-animation: move-chevron 3s ease-out 1s infinite;
  animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  -webkit-animation: move-chevron 3s ease-out 2s infinite;
  animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: #000;
}

.chevron:before {
  left: 0;
  transform: skewY(30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skewY(-30deg);
}

@-webkit-keyframes move-chevron {
  25% {
    opacity: 1;
  }

  33.3% {
    opacity: 1;
    transform: translateY(2.28rem);
  }

  66.6% {
    opacity: 1;
    transform: translateY(3.12rem);
  }

  100% {
    opacity: 0;
    transform: translateY(4.8rem) scale(0.5);
  }
}

@keyframes move-chevron {
  25% {
    opacity: 1;
  }

  33.3% {
    opacity: 1;
    transform: translateY(2.28rem);
  }

  66.6% {
    opacity: 1;
    transform: translateY(3.12rem);
  }

  100% {
    opacity: 0;
    transform: translateY(4.8rem) scale(0.5);
  }
}

@media only screen and (max-width : 940px) {

  .down-arrow,
  .counter-panel {
    display: none;
  }
}

.current-page {
  font-weight: 900;
  font-size: 1rem;
}

// TODO:Montestrat 

:host {
  font-family: 'Montserrat', sans-serif;
}

.nav-link {
  font-size: 16px;
  font-weight: 600;
}

.navbar .btn-sm,
.btn {
  font-size: 16px;
  font-weight: 600;
}

.my-title {
  line-height: 1.09;
  letter-spacing: 2px;
  font-weight: 900;
}

.display-4 {
  font-size: 60px;
  line-height: 1.09;
  letter-spacing: 2px;
  font-weight: 900;
}

.subtitle {
  line-height: 1.63;
  font-weight: 600;
}

h3 {
  font-weight: 600;
}

.widget-title {
  font-weight: 600;
}

.dropdown-item {
  font-weight: 600 !important;
}

// TODO:Montestrat

.rotate {
  width: 35%;
  height: 35%;
}