.form-control{
    background-color: whitesmoke;
}
* {
    // margin: 0;
    // padding: 0;
    // box-sizing: border-box;
    // line-height: 0.2em !important;
    outline: none;
    border: none;
  
}


::-webkit-scrollbar {
    width: none;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb:hover {
    background: #cacaca;
}

::-webkit-scrollbar-thumb {
    background: #b5b5b5;
    border-radius: none;
}


:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-size: 10px;
}

body::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}

body {
    /* display: flex;
    justify-content: right;
    align-items: center; */
    /* min-height: 100vh; */

    /* background-image: linear-gradient(to bottom right, #b1b1b1, #b1b1b1, #919191); */
}


.container1 {
    display: flex;
    justify-content: right;
    align-items: right;
    z-index: 999999999999;
    position: relative;
}

.chat-box {
    width: 380px;
    height: 447px;
    background-color: whitesmoke;
    overflow: hidden;
    border-radius: -5px;
    /* overflow: hidden; */
    position: fixed;
    bottom: 90px;
    right: 20px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    box-shadow: 0 -1px 20px rgb(0 0 0 / 16%);
    
}

.left {
    color: black
}

.client {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 70px;
    background-color: #12344d;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.client img {
    height: 50px;
    height: 30px;

}
.click1{
    display: flex;
    justify-content: end;
    align-items: end;
    height: 70px;
    background-color: #12344d;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.client1 img {
    height: 50px;
    height: 30px;

}
.client-info {
    color: #ff5b2e;
    padding: 15px;
}

.client-info p {
    color: green;
    font-weight: bold;
    font-size: 0.8em;
}


.chats {
    width: 100%;
    padding: 0 15px;
    color: #fff;
    position: relative;
    font-size: 0.7em;
    font-family: inherit;
}

.client-chat {
    width: 60%;
    word-wrap: break-word;
    background-color: green;
    padding: 7px 10px;
    border-radius: 10px 10px 10px 0;
    margin: 10px 0;
    transition: all 0.3s ease-out;
}

.my-chat {
    width: 60%;
    word-wrap: break-word;
    background-color: #ff5b2e;
    padding: 7px 10px;
    border-radius: 10px 10px 0px 10px;
    margin: 5px 0 5px auto;
}

input::placeholder {
    color: black;
    font-size: 10px;

}


.chat-input {
    /* display: flex;
    align-items: center;
    width: 100%;
    height: 65px;
    padding: 15px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    background-color: #b5d7eb;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.19)inset; */



    width: 100%;
    height: 65px;
    padding: 15px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    font-size: 16px;
    /* background-color: #12344d; */
    background-color: white;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    /* box-shadow: 0 0 1px #0003, 0 6px 5px #00000030 inset */
}

#msg {
    overflow: scroll;
    width: 381px;
    height: 330px;
    
}

.chat-input input {

    /* height: 100%;
    background-color: #4f5d7321;
    border-radius: 50px;
    color: #000;
    font-size: 1em;

    padding: 7px 36px; */

    /* font-family: "Times New Roman", Times, serif; */
    background-color: #4f5d7321; 
    width: 80%;
    border-radius: 50px;
    color: #000;
    padding: 10px 36px;
}

.send-btn {
    width: 40px;
    height: 40px;
    background-color: transparent;
    overflow: hidden;
    position: relative;
    margin-left: 5px;
    cursor: pointer;
    transition: 0.4s ease-in-out;

}

.send-btn:active {
    transform: scale(0.85);
}

.send-btn img {
    height: 100%;
    width: 100%;
}

.chat-btn {
    width: 180px;
    height: 50px;
    // border-radius: 1%;
    background-color: #164194 !important;
    cursor: pointer;
    overflow: hidden;
    position: fixed;
    bottom: 20px;
    right: 20px;
    // background-color: #eaf3ef;
    color: #fff;
    display: inline-block;
    border: 2px solid transparent;
    transition: all .2s ease-in-out;
    padding: 0.5rem 1.2rem;
    z-index: 2;
}

.chat-btn img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    transition: 0.4s ease-in-out;
}

/* .chat-btn:hover img {
    transform: rotate(30deg);
} */

.chatbthead{
    color: whitesmoke;
    font-size: 35px;
    
}
.fa.fa-paper-plane{
    color: #12344d;
    font-size: 17px
}









/* @media (min-width: 375px) {
   .chat-box{
        width: 250px;
        height: 350px;
    }

    #msg{
        width: 250px;
        height: 350px;
    }

    
} */
@media (min-width: 360px) and (max-width: 767px) {
    .chat-box {
        width: 250px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        height: 350px;
        bottom: 80px;
        right: 20px
    }

    #msg {
        width: 250px;
    height: 240px;
    }


    .chat-input{
        height: 55px;
    font-size: 13px;
    padding: 10px;
    }

    
    .chat-input input {

        /* height: 100%;
        background-color: #4f5d7321;
        border-radius: 50px;
        color: #000;
        font-size: 0.8em;

        padding: 2px 10px;
        width: 75%;
 */

 height: 100%;
 background-color: #4f5d7321;
 border-radius: 50px;
 color: #000;
 padding: 10px 36px;
 width: 75%;
        /* width: 100%;
    height: 65px;
    padding: 15px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    font-size: 16px;
    background-color: #b5d7eb;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 0 1px #0003, 0 6px 5px #00000030 inset; */
        /* font-size: ; */
    }



    .chats {
     
        padding: 0 15px;
        color: #fff;
        position: relative;
        font-size: .5em;
    }
    .first{
        font-size: 15px !important;
    }

    .chat-btn {
        width: 150px;
        height: 50px;
        cursor: pointer;
        overflow: hidden;
        position: fixed;
        bottom: 20px;
    }

    .send-btn {
        width: 35px;
        height: 35px;

    }
    .margin{
        margin: 10px;
    }


}
.margin{
    margin: 10px;
}
.chat-btn1 {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    overflow: hidden;
    position: fixed;
    bottom: 100px;
    right: 20px;
}

.chat-btn1 img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    transition: 0.4s ease-in-out;
}
.chat-input1 {
    /* display: flex;
    align-items: center;
    width: 100%;
    height: 65px;
    padding: 15px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    background-color: #b5d7eb;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.19)inset; */



    width: 100%;
    height: 65px;
    padding: 15px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    font-size: 16px;
    /* background-color: #12344d; */
    background-color: white;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    /* box-shadow: 0 0 1px #0003, 0 6px 5px #00000030 inset */
}
.chat-input1 input {

    /* height: 100%;
    background-color: #4f5d7321;
    border-radius: 50px;
    color: #000;
    font-size: 1em;

    padding: 7px 36px; */

    /* font-family: "Times New Roman", Times, serif; */
    background-color: #4f5d7321; 
    width: 80%;
    border-radius: 50px;
    color: #000;
    padding: 10px 36px;
}
.chat-input1 {
    width: 380px;
    height: 80px;
    background-color: whitesmoke;
    overflow: hidden;
    border-radius: -5px;
    /* overflow: hidden; */
    position: fixed;
    bottom: 150px;
    right: 20px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    box-shadow: 0 -1px 20px rgb(0 0 0 / 16%);
    
}
