<!-- <div>
    <app-header></app-header> -->
<!-- <app-image-with-page-title image="{{bannerData.image}}" title="{{bannerData.pagename}}">
  </app-image-with-page-title> -->
<section class="wrapper image-wrapper bg-image bg-overlay bg-overlay-400 text-white"
    data-image-src="/assets/img/photos/bg3.jpg" style="background-image: url(&quot;{{bannerData.image}}&quot;);">
    <div class="container pt-17 pb-20 pt-md-19 pb-md-21 text-center">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h1 class="display-1 mb-3 text-white">{{bannerData.pagename}}</h1>
                <nav class="d-inline-block" aria-label="breadcrumb">
                    <ol class="breadcrumb text-white">
                        <li class="breadcrumb-item"><a href="#">{{msglabel.default.Home}}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{msglabel.default.Contact}}</li>
                    </ol>
                </nav>
                <!-- /nav -->
            </div>
            <!-- /column -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<section class="wrapper bg-light angled upper-end">
    <div class="container pb-11">
        <div class="row mb-14 mb-md-16">
            <div class="col-xl-12 mx-auto mt-n19 display:flex">
                <div class="card">
                    <div class="row gx-0 display:flex">
                        <div class="grid-container" [ngClass]="{'grid-containerrow': contactList.length % 2 != 0}"
                            *ngIf="contactCategory1$ | async as contactList">
                            <div class="grid-item col-md-4" *ngFor="let contact of contactList">
                                <div class="d-flex flex-row">
                                    <div>
                                        <div class="icon text-primary fs-28 me-4 mt-n1"> <i
                                                class="uil uil-location-pin-alt"></i> </div>
                                    </div>
                                    <div>
                                        <!-- <h5 class="mb-1">{{msglabel.default.Address}}</h5> -->
                                        <address class="address1">
                                            {{contact?.address}}
                                        </address>
                                    </div>
                                </div>
                                <div class="d-flex flex-row">
                                    <div>
                                        <!-- <div class="icon text-primary fs-28 me-4 mt-n1"> <i class="uil uil-envelope"></i> </div> -->
                                    </div>
                                    <div>
                                        <!-- <h5 class="mb-1">{{msglabel.default.Email}}</h5>
                              <p><a href="mailto:info@ncircletech.com" class="text-body">info@ncircletech.com</a></p> -->
                                        <button class="mt-5 "
                                            style="font-size: small; border-color: #164194; background-color: white;margin-left: 48px;"
                                            (click)="getDirection(contact.address)">{{msglabel.default.GetDirection}} <i
                                                class="fa fa-arrow-right" aria-hidden="true"
                                                style="margin-left: 5px;"></i></button>
                                    </div>
                                </div>
                                <div class="d-flex flex-row mt-5">
                                    <div>
                                        <div class="icon text-primary fs-28 me-4 mt-n1"> <i
                                                class="uil uil-phone-volume"></i> </div>
                                    </div>
                                    <div>
                                        <!-- <h5 class="mb-1">{{msglabel.default.Phone}}</h5> -->
                                        <p>
                                            <a href="tel:+91 020 6694 1900">{{contact?.phone}}</a>
                                        </p>
                                    </div>
                                </div>
                                <!-- <div class="d-flex flex-row">
                            <div> -->
                                <!-- <div class="icon text-primary fs-28 me-4 mt-n1"> <i class="uil uil-envelope"></i> </div> -->
                                <!-- </div>
                            <div> -->
                                <!-- <h5 class="mb-1">{{msglabel.default.Email}}</h5>
                              <p><a href="mailto:info@ncircletech.com" class="text-body">info@ncircletech.com</a></p> -->
                                <!-- <button class="mt-2" style="font-size: small; border-color: #164194; background-color: white;" (click)="getDirection(contact.address)">{{msglabel.default.GetDirection}} <i class="fa fa-arrow-right" aria-hidden="true" style="margin-left: 5px;"></i></button>
                            </div>
                          </div> -->
                            </div>
                        </div>
                    </div>
                </div>

                <!-- /.card -->
            </div>
            <div class="col-12 text-center">
                <div class="offset-xl-5">
                    <div class="d-flex  ">
                        <div>
                            <div class="icon text-primary fs-28  mt-n1"> <i class="uil uil-envelope image"></i> </div>
                        </div>
                        <div class="me-1 mt-1">
                            <!-- <h5 class="mb-1 display-4 email">{{msglabel.default.Email}}</h5> -->
                            <h5 class="mb-1 display-7 email"><a href="mailto:info@ncircletech.com"
                                    class="text-body">info@ncircletech.com</a></h5>
                            <!-- <p class="emailstatus"><a href="mailto:info@ncircletech.com"
                                    class="text-body">info@ncircletech.com</a></p> -->
                            <!-- <button class="mt-2" style="font-size: small; border-color: #164194; background-color: white;" (click)="getDirection(contact.address)">{{msglabel.default.GetDirection}} <i class="fa fa-arrow-right" aria-hidden="true" style="margin-left: 5px;"></i></button> -->
                        </div>
                    </div>
                    <!-- <div class="icon text-primary fs-28 me-4 mt-n1"> <i class="uil uil-envelope"></i> </div>
            <h5 class="mb-1">{{msglabel.default.Email}}</h5>
            <p><a href="mailto:info@ncircletech.com" class="text-body">info@ncircletech.com</a></p> -->
                </div>
            </div>
            <!-- /column -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
                <!-- <h5 class="mb-1">{{msglabel.default.Email}}</h5>
                              <p><a href="mailto:info@ncircletech.com" class="text-body test-center">info@ncircletech.com</a></p> -->
                <h2 class="display-4 mb-3 text-center ">{{msglabel.default.DropUsaLine}}</h2>
                <p class="lead text-center mb-10">
                    {{msglabel.default.Reachouttousfromourcontactformandwewillgetbacktoyoushortly}}
                </p>
                <form class="contact-form needs-validation" [formGroup]="contactForm" (ngSubmit)="saveContact()">
                    <div class="messages"></div>
                    <div class="row gx-4">
                        <div class="col-md-6">
                            <div class="form-floating mb-4">
                                <input type="text" name="name" class="form-control" formControlName="name" required="">
                                <label>{{msglabel.default.Name}}*</label>
                                <div class="valid-feedback">{{msglabel.default.Looksgood}} </div>
                                <div class="invalid-feedback d-block"
                                    *ngIf="contactForm.get('name')?.hasError('required') && contactForm.get('name')?.touched">
                                    {{msglabel.default.Pleaseenteryourfirstname}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-4">
                                <input formControlName="email" type="email" class="form-control" required="">
                                <label>{{msglabel.default.WorkEmail}} *</label>
                                <div class="valid-feedback">{{msglabel.default.Looksgood}} </div>
                                <div class="invalid-feedback d-block"
                                    *ngIf="contactForm.get('email')?.hasError('required') && contactForm.get('email')?.touched">
                                    {{msglabel.default.Pleaseenteremail}}
                                </div>
                                <div class="invalid-feedback d-block"
                                    *ngIf="contactForm.get('email')?.hasError('pattern') && contactForm.get('email')?.touched">
                                    {{msglabel.default.Pleaseentervalidworkemail}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-4">
                                <input type="tel" class="form-control" formControlName="mobile" required="">
                                <label>{{msglabel.default.Mobile}} *</label>
                                <div class="form-text text-muted">
                                    {{msglabel.default.FormatXXXXXXXXXXXX}}
                                </div>
                                <div class="invalid-feedback d-block"
                                    *ngIf="contactForm.get('mobile')?.hasError('required') && contactForm.get('mobile')?.touched">
                                    {{msglabel.default.Pleaseentermobilenumber}}
                                </div>
                                <div class="invalid-feedback d-block"
                                    *ngIf="contactForm.get('mobile')?.hasError('pattern') && contactForm.get('mobile')?.touched">
                                    {{msglabel.default.Pleaseentervalidmobilenumber}}
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-select-wrapper mb-4">

                                <select class="form-select" formControlName="category" required=""
                                    *ngIf="contactCategory$ | async as contactCategory">
                                    <option value="">{{msglabel.default.SelectaDepartment}} </option>
                                    <option *ngFor="let cc of contactCategory.results" [value]="cc.id">{{cc.name}}
                                    </option>
                                </select>
                                <div class="valid-feedback"> {{msglabel.default.Looksgood}} </div>
                                <div class="invalid-feedback d-block"
                                    *ngIf="contactForm.get('category')?.hasError('required') && contactForm.get('category')?.touched">
                                    {{msglabel.default.Pleaseselectacategory}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-4">
                                <input type="text" class="form-control" formControlName="company" required="">
                                <label>{{msglabel.default.CompanyName}} *</label>
                                <div class="valid-feedback">{{msglabel.default.Looksgood}} </div>
                                <div class="invalid-feedback d-block"
                                    *ngIf="contactForm.get('company')?.hasError('required') && contactForm.get('company')?.touched">
                                    {{msglabel.default.Pleaseentercompanyname}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-4">
                                <input type="text" class="form-control" formControlName="designation" required="">
                                <label>{{msglabel.default.Designation}} *</label>
                                <div class="valid-feedback">{{msglabel.default.Looksgood}} </div>
                                <div class="invalid-feedback d-block"
                                    *ngIf="contactForm.get('designation')?.hasError('required') && contactForm.get('designation')?.touched">
                                    {{msglabel.default.Pleaseenterdesignation}}
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-md-6">
                            <div class="form-floating mb-4">
                                <input type="date" class="form-control" formControlName="date" required="">
                                <label>Date *</label>
                                <div class="valid-feedback"> Looks good! </div>
                                <div class="invalid-feedback d-block"
                                    *ngIf="contactForm.get('date')?.hasError('required') && contactForm.get('company')?.touched">
                                    Please enter date.
                                </div>
                            </div>
                        </div>
               -->

                        <div class="col-12">
                            <div class="form-floating mb-4">
                                <textarea class="form-control" formControlName="user_message" placeholder="Your message"
                                    style="height: 150px" required=""></textarea>
                                <label for="form_message">{{msglabel.default.Message}}*</label>
                                <div class="valid-feedback">{{msglabel.default.Looksgood}} </div>
                                <div class="invalid-feedback d-block"
                                    *ngIf="contactForm.get('user_message')?.hasError('required') && contactForm.get('user_message')?.touched">
                                    {{msglabel.default.Pleaseentermessage}}
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center mb-4">
                            <re-captcha
                                style="display:flex;transform:scale(1.0);-webkit-transform:scale(1.0);transform-origin:0 0;-webkit-transform-origin:0 0;"
                                name="recaptcha" formControlName="recaptcha"> </re-captcha>

                        </div>
                        <div class="col-12 text-center">
                            <input *ngIf="!formSubmitted" [disabled]="!contactForm.valid" type="submit"
                                class="btn btn-primary rounded-pill btn-send mb-3"
                                value="{{msglabel.default.Sendmessage}}">

                            <p class="text-muted" *ngIf="formSubmitted">{{msglabel.default.PleaseWait}}</p>
                            <p class="text-muted"><strong>*</strong>{{msglabel.default.Thesefieldsarerequired}}</p>
                        </div>
                    </div>
                </form>
                <!-- /form -->
            </div>
            <!-- /column -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- <app-footer></app-footer>
</div> -->